/* Use CSS to style your page */

body {
    font-family: Consolas, "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    font-size: 18px;
}

h1 {
    font-style: italic;
    color: #373fff;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:hover {
    background-color: #f5f5f5;
}

img {
    border-radius: 50%;
}